@model IEnumerable<DemoMVC.Models.EMPDATA>
@{
    ViewBag.Title = "empdata";
}

<h2>empdata</h2>
@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>Empno</td>
            
        </tr>

    </table>



}

